*{
    margin: 0;
    padding: 00%;
    box-sizing: border-box;
}

:root {
    --bg-gray: #636c79;
    --light-green: #8bb7a2;
    --bg-dark: #10181d;
    --white: #FFFFFF;
    --white-dim: #cccccc;
    --text-gray: #8c8c8c;
    --text-dark-gray: #424242;
    --text-dark: #1b1d21;
}

 /**************   custom css  *************/


 body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
 }
 .d-flex{
    display: flex!important;
 }
 .justify-content-between{
    justify-content: space-between;
 }
 .justify-content-center{
    justify-content: center;
 }
 .justify-content-around{
    justify-content: space-around;
 }
 .justify-content-evenly{
    justify-content: space-evenly;
 }
 .flex-column{
    flex-direction: column;
 }
 .align-items-center{
    align-items: center;
 }
 .text-center{
    text-align: center;
 }

 .full-width{
    width: 100%;
    position: relative;
    float: left;
    min-width: 1px;
 }

 .container{
    max-width: 1250px;
    margin:0 auto;
 }

 /**************   custom css  *************/

 .header-section-div{
    height: 100vh;
    background-color: #636C79;
 }

 .navbar-div,.nav-wrapper{
    height: 85px;
 }

 img.nav-logo {
    width: 130px;
}

 .nav-menulist{
    list-style: none;
    

 }

 .nav-links{
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
 }

 li.nav-links.tak-btn {
    border: 1px solid #fff;
    padding: 10px 25px;
    margin-left: 70px;
}

/*********** hero section css start  */


img.hero-leftimg {
    width: 420px;
}
/* 
.hero-leftDiv,.hero-rightDiv {
    width: 50%;
} */

h1.hero-title {
    font-size: 65px;
    color: #fff;
    text-align: left;
    margin: 0 0 40px 0;
}

.hero-secondry-title {
    font-size: 21px;
    word-spacing: 3px;
    padding: 20px 90px 36px 0;
    text-align: left;
    color: var(--white-dim);
}

.enter-mail-div.d-flex {
    position: relative;
    background: #fff;
    padding: 0px;
    width: 550px;
}

input[type="email"] {
    border: none;
    height: 75px;
    width: 285px;
    padding: 10px;
    font-size: 14px;
    margin-left: 40px;
}

.lets-talkbtn {
    position: absolute;
    width: fit-content;
    display: inline;
    right: 10px;
    background-color: var(--light-green);
    padding: 20px 50px;
    color: #fff;
}


.hero-wrapper{
    height: 85vh;
}

.hero-imgdiv {
    width: 28rem;
    height: 580px;
    border-radius: 10px;
    overflow: hidden;
}

img.hero-leftimg {
    width: 420px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section-div{
    gap: 70px;
    justify-content: center;
    align-items: center;
    height: 85vh;   
}
.website-designDiv{
    gap: 120px;
    margin: 0 25px;
    padding: 30px 0;
}


.hero-leftDiv {
    padding-left: 50px;
}

.lets-talkbtnDiv{
    padding: 18px 38px;
    font-size: 16px;
    background-color: var(--light-green);
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}




.connect-tosection{
    margin: 60px 0;
}
.connect-title {
    font-size: 50px;
    font-weight: 700;
    font-family: "Raleway";
    padding: 40px;
}

.count-num {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.connect-imgDiv {
    max-width: 1078px;
    height: 550px;
    overflow: hidden;
    padding: 40px 0;
}
.connect-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product h4{
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: normal;
}

.product p a{
    list-style-type: none;
    color: #8c8c8c;;
    font-size: 14px;
    font-weight: 600;
}
.web-design-info{
    font-size: 1.2rem;
    color: var(--text-gray);
    font-weight: 600;
    padding-bottom: 30px;
}

.web-imgdiv {
    width: 34rem;
    height: 500px;
    overflow: hidden;
}

.web-imgdiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.team-topTitle {
    font-size: 2.5rem;
    width: 50%;
}
.team-topright{
    font-size: 1.2rem;
    color: var(--text-gray);
    font-weight: 500;
    width: 50%;
    padding: 30px 75px;
}

.menbers-cardBox {
    flex-grow: 1;
}

.members-imgDiv{
    height: 350px;
    max-width: 370px;
    margin-bottom: 20px;
}

.members-imgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top
}



.member-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}
.member-disc{
    font-size: 15px;
    color: var(--text-gray);
    font-weight: 500;
    /* width: 50%; */
    padding: 10px 40px 0 0;
}
.seeMore-btn{
    margin-top: 40px;
}


.foot{
    background-color: #10181d;
    height: 500px;
    width: 100%;
    margin-top: 50px;
}
.footer{
    
    max-width: 1250px;
    margin:0 auto;
    color: white;
}
.heading{
    display: flex;justify-content: space-between;
    padding: 50px 0;

}
.social{
    display: flex;
    
}
.content{
    display: flex;justify-content: space-between;
    margin: 73px 0;
    
}

img.footer-logo {
    width: 145px;
}
.content p{
    margin:12px;
    color: rgb(160, 160, 160);

}
.content h4{
    margin:12px;
}
.content a{
    text-decoration: none;
}

.social-icons{
    background-color: rgba(255, 255, 255, 0.093);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 500px;
    margin-right: 10px;
}

.mobile{
    display: none;
}
.desktop{
    display: block;
}

@media (max-width: 770px) { 
    .mobile{
        display: block!important;
    }
    .desktop{
        display: none!important;
    }
    .website-designDiv{
        gap: 10px;
        flex-wrap: wrap;
    }
    .members-div{
        flex-wrap: wrap;
    }
}

@media (max-width: 1149px) { 
    .hero-imgdiv {
        width: 22rem;
        height: 420px;
    }

    .hero-title {
        font-size: 2.5rem!important;
        line-height: 50px;
    }
    .hero-secondry-title {
        font-size: 1rem;
        margin-top: 20px;
    }

    .enter-mail-div input[type="email"] {
        padding: 22px 190px 22px 20px;
        width: 12rem;
    }

    .lets-talkbtn {
        top: 5px;
        right: 15px;
    }
}




.hero {
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    height: 85vh;
    padding-bottom: 20px;
}
.hero-left .hero-image {
    width: 28rem;
    height: 580px;
    border-radius: 10px;
    overflow: hidden;
}
.hero-left .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-right h1 {
    font-family: "Raleway";
    font-size: 4.4rem;
    color: var(--white);
    line-height: 75px;
}
.hero-right p {
    color: var(--white-dim);
    margin-top: 40px;
    line-height: 30px;
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.hero-right .contact-email {
    position: relative;
}
.hero-right .contact-email input[type="email"] {
    padding: 28px 190px 28px 20px;
    width: 23rem;
    outline: none;
}
.hero-right .contact-email input[type="email"]::placeholder {
   
    font-size: 16px;
    color: var(--text-gray);
}
.hero-right .contact-email button {
    position: absolute;
    right: 20px;
    top: 10px;
}

@media only screen and (max-width: 1149px) {
    .hero .hero-right h1 {
        font-size: 2.8rem;
        line-height: 50px;
    }
    .hero .hero-right p {
        font-size: 1rem;
        margin-top: 20px;
    }
    .hero .hero-right .contact-email input[type="email"] {
        padding: 22px 190px 22px 20px;
        width: 12rem;
    }
    .hero .hero-right .contact-email button  {
        top: 5px;
        right: 15px;
    }
    .hero-left .hero-image {
        width: 22rem;
        height: 420px;
    }
}
@media only screen and (max-width: 900px) {

    .hero {
        gap: 20px;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        margin: 0 20px 20px 20px;
        justify-content: center;
    }
    .hero .hero-right h1 {
        text-align: center;
        padding-left: 10px;
        font-size: 2.4rem;
        line-height: 40px;
    }
    .hero .hero-right p {
        text-align: center;
        padding: 0 20px;
        line-height: 24px;
        font-size: 14px;
    }
    .hero .hero-right .contact-email input[type="email"] {
        padding: 22px 200px 22px 20px;
        width: 12rem;
        display: block;
    }

 }